<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Twitter Informations</title>
  </head>
	<body>
    <div class="container">
      <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
          <div class="row">
            <div class="cols-sm-10">
              <div class="panel-heading">
                 <div class="panel-title text-center">
                    <h1 class="title">Twitter Informations</h1>
                    <hr />
                  </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-10">
              <div class="center-block main-center-index">
                <div class="omb_login">
                  <h5>Login or Sign up with</h5>
                  <div class="row omb_row-sm-offset-3 omb_socialButtons">
                    <div class="col-xs-6 col-sm-6">
                      <%= link_to '/auth/twitter', class: "btn btn-lg btn-block omb_btn-twitter" do%>
                        <i class="fa fa-twitter visible-xs"></i>
                        <span class="hidden-xs">Twitter</span>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
	</body>
</html>

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
