<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Twitter Informations</title>
  </head>
	<body>
    <div class="container">
      <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
          <div class="row main">
            <div class="cols-sm-10">
              <div class="panel-heading">
                 <div class="panel-title text-center">
                    <h1 class="title">Twitter Informations</h1>
                    <hr />
                  </div>
              </div>
            </div>
          </div>
            <%= form_tag('/auth/twitter', {class: "form-signin", method: :get} ) do %>
              <h2 class="form-signin-heading">Este é o aplicativo Twitter Informations</h2>
              <label for="inputUserName" class="sr-only">O nosso objetivo é buscar informações relevantes de tweets para você!</label>
              <hr />
              <button class="btn btn-lg btn-primary btn-block" type="submit">Liberar acesso ou criar uma nova conta do twitter</button>
            <% end %>
        </div>
      </div>
    </div>
	</body>
</html>
